@import "../../../variables.scss";
@import "../../../mixins.scss";

.productBlock {
    &__wrapper {
        &.padding {
            background-color: $color-gray;
            padding: 64px 37px;
            box-shadow: 0px 4px 94px rgba(0, 0, 0, 0.15);
            &:hover {
                background-color: #ffffff;
            }
        }
        padding: 30px;
        background-color: #ffffff;
        border-radius: 20px;
        width: 378px;
        height: 348px;
        border: 1px solid $color-gray;
        @include for-phone-only {
            width: 299px;
            height: 314px;
            padding: 26px;
        }
    }
    &__button {
        background-color: $color-white;
        &-text {
            color: $base-color;
        }
    }
    &__title {
        padding-bottom: 13px;
    }
    &__sketch {
        padding-bottom: 23px;
    }
    &__arrow {
        margin-left: 12px;
        width: 14px;
        height: 12px;
    }
}
.text-thin {
    @include for-phone-only {
        font-family: $fonts-regular;
        font-size: 12px;
        line-height: 23px;
    }
}
