@import "../../../variables.scss";

.about {
    margin-bottom: 165px;
    &__wrapper-link {
        padding-bottom: 15px;
    }
    &__desctitle {
        padding-bottom: 49px;
    }
    &__link {
        &:hover {
            color: $base-color;
        }
    }
    &__box {
        &-title {
            padding-bottom: 10px;
        }
        &-picture {
            display: grid;
            grid-template-columns: 64% 25%;
        }
    }
    &__description {
        display: grid;
        grid-template-columns: 40% 60%;
        padding-bottom: 46px;
    }
    &__dots {
        width: 196px;
        height: 154px;
        margin-left: -87px;
        margin-top: -67px;
        z-index: -1;
    }
}
