@import "../../../variables.scss";

.product {
    padding-bottom: 100px;
    background-color: $color-gray;
    &__title {
        padding: 65px 135px;
    }
    &__text {
        padding-bottom: 65px;
    }
}
