@import "../../../variables.scss";
.top-bar {
  height: 32px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .top-bar-item {
    margin-right: 100px;
    height: 100%;
    display: flex;
    align-items: center;

    svg {
      margin-right: 6px;
    }

    a {
      color: $color-dark;
    }
  }
}
