@import "../../../variables.scss";
@import "../../../mixins.scss";

.navigation {
  width: 100%;
  height: 70px;
  background-color: $base-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;

  @include for-phone-only {
    padding: 0 23px;
    &__item {
      padding-bottom: 10px;
    }
  }

  .navigation-button {
    display: none;
    background-color: none;
    @include for-phone-only {
      display: block;
      background-color: transparent;
    }
  }

  .links {
    list-style: none;
    display: flex;
    align-items: center;
    @include for-phone-only {
      display: none;
      &.visible {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        width: 55%;
        top: 75px;
        left: 40%;
        border: 1px solid $base-color;
        border-radius: 15px;
        .nav-link {
          color: black;
          margin-right: 0px;
          &:hover {
            color: $base-color;
          }
        }
      }
    }

    .nav-link {
      margin-right: 70px;
      color: #fff;

      &.active {
        position: relative;
        &:before {
          position: absolute;
          content: "";
          width: 11px;
          height: 11px;
          background-color: #fff;
          border-radius: 50%;
          left: -18px;
          top: 5px;
        }
      }
    }

    .contact-us {
      height: 41px;
      width: 132px;
      color: $base-color;
      background-color: $color-white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
    }
  }
}
