@import "../../../variables.scss";
@import "../../../mixins.scss";

.read-more-button {
  background-color: $base-color;
  color: $color-white;
  width: 277px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include for-phone-only {
    width: 177px;
  }
}
