@import "../../../variables.scss";
@import "../../../mixins.scss";

.button-get {
    background-color: $base-color;
    color: $color-white;
    border-radius: 40px;
    width: 195px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include for-phone-only {
        width: 168px;
        height: 45px;
    }
}
