$base-color: #e47500;
$color-dark: #1a1a1a;
$color-black: #000000;
$color-white: #ffffff;

$fons-title: "Poppins700";
$fonts-heading: "Poppins600";
$font-medium: "Poppins500";
$fonts-regular: "Poppins400";
$font-small: "Poppins200";
