@import "../../../variables.scss";

.stay {
    padding: 40px 50px;
    background-color: $color-shadowy;
    border-radius: 15px;
    &__title {
        color: $color-white;
        padding-bottom: 10px;
    }
    &__text {
        color: $color-white;
    }
    &__form {
        width: 25%;
        height: 48px;
        border-radius: 8px;
        background-color: $color-white;
        padding: 0 6px 0 21px;
        &-input {
            outline: none;
            border: none;
            font-family: $font-small;
            font-size: 13px;
            line-height: 20px;
        }
        &-button {
            color: $color-white;
            width: 105px;
            height: 37px;
            border-radius: 8px;
            background-color: $base-color;
        }
    }
}
